<ul class="nav-links">
    <li class="center"><a href="/">Home</a></li>
    <li class="center"><a routerLink="/about">Über</a></li>
   </ul>
   <div class="logo-container">
    <img src="Daco_2202859.png" alt="Logo" />
  </div>
<div class="about-container">
  <p>
    <strong>Der MODBUS Datapoint Setter ist ein Java basierter Algorithmus, 
    der das Mappen von MODBUS Rohdatenpunkten übernimmt. </strong>
  </p>
  <ul>
    <li>Zuerst die Vorlage MODBUS_DP_SETTER herunterladen
      <a class="download-link" href="MODBUS_DP_SETTER.xlsx" download>
        📥 MODBUS_DP_SETTER
</a>
    </li>
    <li>Die Vorlage mit den Daten aus dem Mass Changes Tool befüllen</li>
    <li>Die Spalte <strong>Regler</strong> bis zur letzten Datenreihe ziehen</li>
    <li>Für jeden Regler, in die Spalte <strong>"Namensbasis"</strong>, die Namensbasis setzen <strong>(Reicht einmal in der ersten Zeile!)</strong>
    <div class="screenshot-container">
    <img src="Screenshot (12).png" alt="Upload Screenshot" />
    </div>
    </li>
    <br>
    <li>Für jeden Regler, in die Spalte <strong>"Beschreibung"</strong>, die Beschreibungsbasis setzen <strong>(Reicht einmal in der ersten Zeile!)</strong>
      <div class="screenshot-container">
    <img src="Screenshot (13).png" alt="Upload Screenshot" />
    </div>
    <p class="screenshot-hint">
      ⚠️ <strong>Die eigentliche Beschreibung darf nicht entfernt werden! Nur die Beschreibungsbasis davor setzen, da sonst das Mapping nicht funktioniert.</strong>
    </p>
    </li>
    <br>
    <li>Die Datei speichern</li>
    <li>Anchließend auf der <strong>Home</strong> Seite auf <strong>Durchsuchen...</strong> klicken</li>
    <li>Die Datei im Dateiexplorer auswählen und auf <strong>Upload</strong> klicken</li>
    <li>Die Datei wird bearbeitet und läuft nach Abschluss automatisch in den Downloadordner des Browsers</li>
  </ul>
</div>
